.footer {
    font-family: arial;
    color: white;
    background-color: #0D7377;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}
