body{
    background-color: rgb(240, 239, 239);
}

.pageTitle{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.mainDiv{
    display:flex;
    height:100%;
}

.leftPanelDiv{
    width:20%;
    background:rgb(213, 210, 210);
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.categoryTitle{
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.allProductsDiv{
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:50px;
    margin-bottom: 3%;
}

.uniqueProductDiv{
    background-color: white;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;
    padding:40px;
    box-shadow: 2px 5px 10px  #888888;
}

.productLink{
    text-decoration: none;
}

.allProductInfo{
    bottom:0;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.allProductTitle{
    margin-top: 8px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.allProductPrice{
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}
.imgContainer{
    height:200px;
    margin-bottom: 20px;
}
.productImgAll{
    max-height: 200px; 
    height:100%;
    width: 100%; 
    object-fit: contain;
}

.productBtn{
    width:100%;
    background-color: #212121;
    color:white;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
}

